@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  @layer base {
    /* :root {
      --background: 54 57% 99%;
      --foreground: 54 64% 1%;
      --muted: 24 17% 91%;
      --muted-foreground: 24 12% 28%;
      --popover: 54 57% 99%;
      --popover-foreground: 54 64% 1%;
      --card: 54 57% 98%;
      --card-foreground: 54 64% 0%;
      --border: 54 13% 94%;
      --input: 54 13% 94%;
      --primary: 54 17% 62%;
      --primary-foreground: 54 17% 2%;
      --secondary: 24 17% 62%;
      --secondary-foreground: 24 17% 2%;
      --accent: 84 17% 62%;
      --accent-foreground: 84 17% 2%;
      --destructive: 0 83% 23%;
      --destructive-foreground: 0 83% 83%;
      --ring: 54 17% 62%;
      --radius: 0.5rem;
    } */
  
    /* .dark { */
      :root{
        --background: 235 19% 13%;
        --foreground: 229 35% 75%;
        --muted: 235 12% 17%;
        --muted-foreground: 235 12% 67%;
        --popover: 235 19% 10%;
        --popover-foreground: 229 35% 85%;
        --card: 235 19% 11%;
        --card-foreground: 229 35% 80%;
        --border: 235 9% 18%;
        --input: 235 9% 21%;
        --primary: 223 45% 44%;
        --primary-foreground: 0 0% 100%;
        --secondary: 223 30% 75%;
        --secondary-foreground: 223 30% 15%;
        --accent: 235 19% 28%;
        --accent-foreground: 235 19% 88%;
        --destructive: 9 82% 45%;
        --destructive-foreground: 0 0% 100%;
        --ring: 223 45% 44%;
        --ring: 270 84% 66%;
    }
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: Labrada;
}
p, a{
  font-family: Reem Kufi Fun;
}

.flexMid, midFlex{
  display: flex;
  justify-content: center;
  align-items: center;

}